# test: server/providers/dummy.py を使います。
# production: server/providers/llama.py を使います。
LLM_DEMO_SERVER_APP_ENV=test

# production のときだけ使用します。
LLM_DEMO_SERVER_LLAMA_MODEL_PATH=../kadaikenkyu/Meta-Llama-3.1-8B-Instruct
LLM_DEMO_SERVER_MAX_INPUT_TOKENS=1024
